body {
	background-image: url(images/bg41_1.jpg);
}
.abstract{
	min-height:20px;padding:19px 12px;margin-bottom:40px;
	background-color:#f8f8f8; border:1px solid #ddd;
	-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.05) inset;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.05) inset;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.05) inset;
	text-shadow: 0 1px 0 #fff;
}

.abstract-header{
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: 20px;
	font-size: 20px;
	background-color:#e5e5e5;
	cursor: pointer;
}

/*.cate-header {
	font-weight:bold
}*/