.com { color: #0088ff; }
.lit { color: #dc322f; }
.pun, .opn, .clo { color: #808080; }
.fun { color: #ff628c; }
.str, .atv { color: #008e00; }
.kwd, .linenums .tag { color: #ff8000; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #333333; }

.prettyprint {
  padding: 9.5px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}