<div class="page-header">
  <h1>Andy24boyking <small>点滴思考</small></h1>
</div>

<div class="row-fluid">
  <div class="span9">
    <div class="abstract">
      <div class="abstract-header">{{ page.title }}<span class="abstract-date">{{ page.date | date_to_string }}</span></div>
      {{ content }}
    </div>
    <div class="pagi">
      {% if page.previous %}
        <a href="{{ BASE_PATH }}{{ page.previous.url }}">&lt;&lt; {{ page.previous.title }}</a><br/>
      {% else %}
         没有上一篇<br/>
      {% endif %}
      {% if page.next %}
        <a href="{{ BASE_PATH }}{{ page.next.url }}">&gt;&gt; {{ page.next.title }}</a>
      {% else %}
        没有下一篇
      {% endif %}
    </div>
    {% include AH/comments %}
  </div>
  <div class="span3 abstract">
    <div class="sidebox">
      {% unless page.category == null %}
        <h5><i class="icon-bookmark"></i>&nbsp;&nbsp;文章分类</h5>
        <ul>
          <li class="square"><a href="{{ BASE_PATH }}{{ categories_path }}{{ page.category }}">{{ page.category }}</a></li>
        </ul>
      {% endunless %}
    </div>
    <div class="sidebox">
      {% unless page.tags == empty %}
        <h5><i class="icon-tags"></i>&nbsp;&nbsp;所含标签</h5> 
        <ul class="tagbox inline">
          {% assign tags_list = page.tags %}
          {% include AH/tag_list %}
        </ul>
      {% endunless %}
    </div>
    <div class="sidebox">
      <h5><i class="icon-calendar"></i>&nbsp;&nbsp;近期文章</h5>
      <ul>
        {% assign post_list = site.posts %}
        {% include AH/post_list %}
      </ul>
    </div>
    <div class="sidebox">
      <h5><i class="icon-folder-open"></i>&nbsp;&nbsp;相关文章</h5>
      <ul>
        {% assign ca = page.category %}
        {% include AH/post_list %}
      </ul>
    </div>
  </div>
</div>
